<%= form_with model: @listing , local: true do |form| %>
  <div><%= form.label :"title name"%><br/>
    <%= form.text_field :title_name %></div>
  <br/>
  <div><%= form.label :"Type"%><br/>
    <%= form.text_field :listing_type %></div>
  <br/>
  <div><%= form.label :"address"%><br/>
    <%= form.text_area :address %></div>
  <br/>
  <div><%= form.label :"Number of bedrooms"%><br/>
    <%= form.text_field :bedrooms %></div>
  <br/>
  <div><%= form.label :"Number of beds"%><br/>
    <%= form.text_field :beds %></div>
  <br/>
  <div><%= form.label :"Number of bathrooms"%><br/>
    <%= form.text_field :bathrooms %></div>
  <br/>
  <div><%= form.label :"price/per night"%><br/>
    <%= form.text_field :price_per_day %></div>
  <br/>
  <div><%= form.label :"Country"%><br/>
    <%= form.text_field :country %></div>
  <br/>
  <div><%= form.label :"State"%><br/>
    <%= form.text_field :state %></div>
  <br/>
  <div><%= form.label :"City"%><br/>
    <%= form.text_field :city %></div>
  <br/>
  <%= form.file_field :images, multiple: true %>
  <h3> Available amenitites: </h3>
  <br/>
  <div>
    <% ListingsController::TAGS.each do |tag| %>
      <%= form.label tag %>
      <%= check_box_tag "tags[#{tag}]",1 ,@listing.tags && @listing.tags.include?(tag) ? true : false %><br/>
    <% end %>
  </div>
  <%= form.submit %>
  <ul>
  <% end %>