<% if @listings.present?%>
  <%= form_with url: listings_path , class:"form-inline" ,method: :get do |form| %>
    <%= form.text_field :search , id:"keyup", class:"form-control mr-sm-2" , type:"search", placeholder: "Search" , list:"titles"%>
    <datalist id="titles">
    </datalist>
    <%= form.submit  class:"btn btn-outline-dark my-2 my-sm-0"  %>
  <% end %>
  <% form_with url: listings_path , class: "form-inline" , method: :get do |form| %>
    <%= form.text_field :min_max_price , class:"form-control mr-sm-2", placeholder: "Price" %>
  <% end %>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    More Filters
  </button>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Rooms and Beds</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class = "row">
            <div class = "col-4">
              <p>Number of Beds:</p>
            </div>
            <div class = "col-8">
              <div class="qty ml-auto">
                <%= form_with url: listings_path , class:"form-inline" ,id:'button', method: :get do |form| %>
                  <span class="minus bg-dark">-</span>
                  <!-- <input type="number" class="count" name="qty" value="1"> -->
                  <%= form.text_field :number ,class:"count" , value:"1" , placeholder: "Number" %>
                  <%= form.submit  class:"btn btn-outline-dark my-2 my-sm-0"  %>
                  <span class="plus bg-dark">+</span><br/>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>
  <strong>
    <h1>All listings</h1>
  </strong>
  <br/>
  <% @listings.each do |listing|%>
    <div class="d-inline-block">
      <div class="card-deck">
        <div class="card text-white bg-dark text-center" style="width: 18rem; height: 33rem;">
          <div class="card-group">
            <img class="card-img-top" src="<%=listing.images.first%> " alt="Card image cap">
            <div class="card-body">
              <h5 class="card-header bg-transparent border-light"><%=listing.title_name%></h5>
              <% if listing.verified == true %>
                <br/>
                <img src = "1.png">
              <% end %>
              <br/>
              <p class="card-text"> Price/per night:
                $<%= listing.price_per_day %><br/>
                Bedrooms: 
                <%= listing.bedrooms %><br/>
                Address:
                <%= listing.address %></p>
              <%= link_to 'Show' , listing_path(listing.id) , class:'btn btn-primary btn-sm' %>
              <% if  current_user.superadmin? || current_user.id ==listing.user_id  %>
                <div class="card-footer bg-transparent border-dark">
                  <%= link_to 'Edit' , edit_listing_path(listing.id), class: 'btn btn-primary btn-sm' %>
                  <%= link_to 'Delete' , listing_path(listing.id) , class: 'btn btn-primary btn-sm' , 
                method: :delete,
                data: { confirm: 'Are you sure?' }%>
                </div>
              <% end %>
              <% if !current_user.customer? %>
                <%= form_tag(verify_listing_path(listing.id)) do %>
                  <br/>
                  <%= submit_tag 'Verify', class: 'btn btn-primary btn-sm' %>
                  <p class="card-text"><small class="text-muted"><%=listing.created_at%></small></p>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</p>
<% elsif !@listings.present?%>
  <h1> No listings available with this current given search parameters</h1>
  <%= link_to 'Add Listing' , new_listing_path %>
<% end %>
<script type="text/javascript">
  $(document).ready(function(){
    $('#button').on('submit', function() {
      $('#exampleModal').modal('hide')
      $('body').removeClass('modal-open');
      $('.modal-backdrop').remove();
    });
  })
</script>