<div class="text-field col-5">
  <%= form.text_field :first_name, type: 'text' %>
  <div class="text-field">
    <%= form.text_field :last_name, type: 'text' %>
  </div>
  <div class="text-field">
    <%= form.text_field :email, type: 'email' %>
  </div>
  <div class="password-field">
    <%= form.password_field :password , label:"Password" %>
  </div>
  <div>
    <%= form.file_field :image, label:"Profile Picture" %>
  </div>