<%= bootstrap_form_with(model: @user , local: true) do |form| %>
  <div class="text-field">
    <%= form.text_field :first_name, type: 'text' %>
    <div class="text-field">
      <%= form.text_field :last_name, type: 'text' %>
    </div>
    <%= form.text_field :email, type: 'email' %>
  </div>
  <div>
    <%= form.file_field :image , label:"Update Profile Picture"%>
  </div>
  <%= form.submit%>
<% end %>