
<h1> WELCOME <%=current_user.first_name %></h1>

<%= image_tag current_user.image_url(:thumb), :class => "profile"%><br/>
<hr/>
<%= link_to 'update profile' , edit_user_path(current_user.id) , :class => "btn btn-primary btn-sm"%>
<h1>Previous Reservations </h1>
<% @reservation.each do |reservation| %>
<div class="d-inline-block">
      <div class="card-deck">
        <div class="card text-white bg-dark text-center" style="width: 18rem; height: 33rem;">
          <div class="card-group">
            <img class="card-img-top" src="<%=reservation.listing.images.first%> " alt="Card image cap">
            <div class="card-body">
              <h5 class="card-header bg-transparent border-light"><%=reservation.listing.title_name%></h5>
              <% if reservation.listing.verified == true %>
                <br/>
                <img src = "1.png">
              <% end %>
              <br/>
              <p class = "card-text">hoster name:</p>
					<%= reservation.user.first_name%>
				<p class = "card-text">Listing name:</p>
					<%= reservation.listing.title_name %>
				<p class = "card-text">Start Date:</p>
					<%= reservation.start_date %><br/>
				<p class = "card-text">End Date</p>
					<%= reservation.end_date %><br/>
				<p class = "card-text">Price of Stay</p>
					<%= reservation.total_price %><br/>

             
                <div class="card-footer bg-transparent border-dark">
              <%= link_to 'Show' , listing_path(reservation.listing.id) , class:'btn btn-primary btn-sm' %>
                  
                </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>

